{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_filters %}

{% block container %}
    <div class="product-header padding-site">
            {% include 'mainapp/includes/inc__main_menu.html' %}
        </div>
        {% include 'mainapp/includes/inc__categories_menu.html' %}
        <div class="product-info padding-site">
            <ul class="product-info-image-text clearfix">
                <li class="product-info-image-text-list main-product-info-image-text-list"><img src="{{ product.image|media_folder_products }}" alt="slider1"></li>
                <li class="product-info-image-text-list product-info-text">
                    <div class="product-info-text-header">
                        {{ product.name }}
                    </div>
                    <div class="product-info-text-price">
                        <span class="product-info-text-price-number">{{ product.price }}</span> rub.
                    </div>
                    <div class="product-info-text-button">
                        <a href="{% url 'basket:add_product' product.pk %}" class="product-info-text-button-link">Order Us<span class="product-info-text-arrow-button"><img src="{% static 'icons/arrow-white.svg' %}" alt="arrow"></span></a>
                    </div>
                    <div class="product-info-text-text">
                        {{ hot_product.description }}
                    </div>
                </li>
            </ul>
            <ul class="product-photo-slider clearfix">
                <li class="product-photo-slider-list"><img src="{{ product.image|media_folder_products }}" alt="controll"></li>
                <li class="product-photo-slider-list"><img src="{{ product.image|media_folder_products }}" alt="controll11"></li>
                <li class="product-photo-slider-list product-photo-slider-list-active"><img src="{{ product.image|media_folder_products }}" alt="controll2"></li>
            </ul>
        </div>

{% endblock %}